/**
 * Customize derived Bulma variables here.
 * @see https://github.com/jgthms/bulma/blob/master/sass/utilities/derived-variables.sass
 */
$primary: $blue;

$info: $cyan;
$success: $green;
$warning: $orange;
$danger: $red;

$light: $white-ter;
$dark: $grey-darker;